<div ng-controller="SpecialThanksCtrl">
    <!-- HEADER -->
    <div class="row">
        <div class="col-xs-12 col-md-12 techheader">
            <p class="techheader">
                Special Thanks
            </p>
        </div>
    </div>
    <!-- TEACHER LOOP -->
    <div class="row">
        <div ng-repeat="teacher in specialThanksInfo" class="col-xs-12 col-md-3 {{ teacher.classes }}">
            <p class="text-center">{{ teacher.name }}</p>
            <img class="{{ teacher.imgClasses }}" src="{{ teacher.imgPath }}">
        </div>
    </div>
</div>
